@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Poppins", sans-serif;
    color: #161616;
}

h1 {
    font-family: "Marck Script", cursive;
    font-size: 42px;
}

.bck-orange {
    background-color: #ff8d34;

    &:hover {
        background-color: #ff8c34c9;
    }
}

.text-orange {
    color: #ff8d34;
}

/* client-side validation class */
input.error {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0 0.125rem 0.125rem rgb(255 141 52) !important;

    .navbar-toggler:focus {
        box-shadow: none !important;
        color: #ff8d34 !important;
    }

    .nav-link {
        color: #161616 !important;

        &:hover {
            color: #ff8d34 !important;
        }
    }

    .dropdown-menu {
        position: absolute !important;
        left: -200% !important;

        .dropdown-item:hover {
            color: #ff8d34 !important;
            background-color: white !important;
        }
    }
}

.admin-form {
    .card-header {
        background-color: white !important;
        font-family: "Marck Script", cursive;
        color: #ff8d34 !important;
        font-size: 42px;
        border-bottom: none !important;
    }

    .card-body {
        .orange-btn {
            background-color: #ff8d34;
        }

        .btn-link {
            color: #ff8d34;
            font-size: smaller;
        }
    }
}

#sidebarMenu {
    .nav-link {
        color: #ff8d34 !important;

        span {
            color: #161616;

            &:hover {
                color: #ff8d34;
                border-bottom: 1px solid #ff8d34 !important;
            }
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            color: #ff8d34 !important;
        }
    }

    .active > .page-link {
        background-color: #ff8d34 !important;
        border-color: #ff8d34 !important;
        color: #ffffff !important;
    }
}
