@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Poppins", sans-serif;
    color: #161616;
}

h1 {
    font-family: "Marck Script", cursive;
    font-size: 42px;
}

.bck-orange {
    background-color: #ff8d34;

    &:hover {
        background-color: #ff8c34c9;
    }
}

.text-orange {
    color: #ff8d34;
}

/* client-side validation class */
input.error {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0 0.125rem 0.125rem rgb(255 141 52) !important;
    background-color: #ff8d34;
    font-size: 20px;

    .navbar-toggler:focus {
        box-shadow: none !important;
        color: #ffffff !important;
        border-color: #ffffff !important;
    }

    .nav-link {
        color: #161616 !important;

        &:hover {
            color: #ffffff !important;
        }
    }

    .navbar-collapse {
        flex-grow: inherit !important;
    }

    .dropdown-menu {
        position: absolute !important;

        .dropdown-item:hover {
            color: #ff8d34 !important;
            background-color: white !important;
        }
    }
}

.admin-form {
    .card-header {
        background-color: white !important;
        font-family: "Marck Script", cursive;
        color: #ff8d34 !important;
        font-size: 42px;
        border-bottom: none !important;
    }

    .card-body {
        .orange-btn {
            background-color: #ff8d34;
        }

        .btn-link {
            color: #ff8d34;
            font-size: smaller;
        }
    }
}

#sidebarMenu {
    .nav-link {
        color: #ff8d34 !important;

        span {
            color: #161616;

            &:hover {
                color: #ff8d34;
                border-bottom: 1px solid #ff8d34 !important;
            }
        }
    }
}

.photo-zoom {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    aspect-ratio: 1;
    transform: scale(1);
    cursor: pointer;
    transition: all ease .5s;

    &:hover {
        transform: scale(1.15);
    }

}

.pagination {
    margin-bottom: 1.75rem;

    .page-item {
        .page-link {
            color: #ff8d34 !important;
        }
    }

    .active>.page-link {
        background-color: #ff8d34 !important;
        border-color: #ff8d34 !important;
        color: #ffffff !important;
    }
}

.democlass {
    border: solid 2px red;
    border-radius: 10px;
}

.welcome {
    background-image: url(/public/images/banner_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

//payments
.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
}

.button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

.button--green:hover {
    background-color: #8bdda8;
    color: white;
}

.card-properties {
    position: relative;

    .counter {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: fit-content;
    }
}

.carousel-caption {
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem !important;
    height: 3rem !important;
    color: #ff8d34 !important;
}