@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Poppins', sans-serif;
    color: #161616;
}

input:invalid::after,
textarea:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0 0.125rem 0.125rem rgb(255 141 52) !important;

    .navbar-toggler:focus {
        box-shadow: none !important;
        color: #ff8d34 !important;
    }

    .nav-link {
        color: #161616 !important;

        &:hover {
            color: #ff8d34 !important;
        }
    }

    .dropdown-menu {
        position: absolute !important;
        left: -50% !important;

        .dropdown-item:hover {
            color: #ff8d34 !important;
            background-color: white !important;
        }
    }
}

.admin-form {
    .card-header {
        background-color: white !important;
        font-family: 'Marck Script', cursive;
        color: #ff8d34 !important;
        font-size: 32px;
        border-bottom: none !important;
    }

    .card-body {
        .orange-btn {
            background-color: #ff8d34;
        }

        .btn-link {
            color: #ff8d34;
            font-size: smaller;
        }
    }
}

#sidebarMenu {
    .nav-link {
        color: #ff8d34 !important;
    }
}

div.tt-search-box-input-container {
    border: 0;
    padding: 0;
}

div.tt-search-box-input-container input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.tt-search-box-input-container svg {
    display: none;
}